#nameStyle {
    position:absolute;
    margin-top: auto;
    color:navy;
    background-color: lightblue;
    text-align: center;
    font-size: 300px;
}
#nextButton {
    float: right;
    font-size: 100px;
}