#nameStyle {
    margin-top: auto; 
    color:navy;
    text-align: center;
    font-size: 300px;
    background-color: lightblue;
    animation: pulse 13s;
}
@keyframes pulse {
    0% {
        background-color: navy;
    }
    100% {
        background-color: lightblue;
    }
}
#nextButton {
    color: darkgreen;
    margin-top: 10%;
    float: right;
    font-size: 100px;
}
#skipButton{
    color: red;
    margin-top: 10%;
    float: left;
    font-size: 100px;
}
#nextButton:hover {
    background-color: whitesmoke;
}
#skipButton:hover {
    background-color: whitesmoke;
}